.Contentnavbar{
    display: flex;
    align-items: center;
    background-color: #FFFF;
    opacity: 0.9;
    height: 48px;
    width: 100%;
    padding-left: 20px;
    padding-right: 5px;
    position: sticky;
    top: 0;

}
.Contentnavbar-leftbox{
    width: 95%;
    height: 100%;
}
.Contentnavbar-rightbox{
    width: 5%;
    height: 100%;
}
.Contentnavbar-headerwrapper{
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100%;
}
.Contentnavbar-header{
    color: black;
    padding: 0px;
    margin: 0px;
    font-weight: bold;
    font-size: 18px;
    font-family: “Helvetica Neue”,Helvetica,Arial,sans-serif;
}

