.tweet-button-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
}
.tweet-button-wrapper:hover{
    cursor:pointer;
}
.tweet-button-wrapper .tweet-button{
    background: #1D9BF0;
    width: 95%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9999px;
}/*
.tweet-button:hover{
    background: #1A8CD8;
}*/
.tweet-button-wrapper .tweet-button-hover{
    background: #1A8CD8;
    width: 95%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9999px;
}
.tweet-button-span{
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 16px;
}
